/* to target a class we use . */


/* You can change the characteristics of everything using
.*{} */

.test1 {
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0em;
    /* color is for text */
    color: rgb(1, 19, 6);
    border-right: 20px;
    border-right-color: rgb(23, 25, 184);
    border-right-style: solid;
    /* This whole thing can be written as 
    border-right: 20px red solid */
    /* If you want the same border to all the side then you can use simple border
    You can notics how - means we are going in depth */
    border: 10px green solid;
    padding: 2%;
    text-align: justify;
    background-image: url("image1.png");
}

.test1 h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(202, 40, 40);
    font-size: 26px;
    font-weight: 500;
    margin: 0.5em;
    color: rgb(0, 0, 0);
    text-decoration: double;
    font-style: italic;
    letter-spacing: 0.2em;
    word-spacing: 1em;
    text-align: center;
}

a {
    /* This will get rid of annoying underline */
    text-decoration: none;
    color: brown;
}

a:hover {
    color: greenyellow;
}


/* a:visited {
    color: aquamarine;
} */

.container {
    /* 80% will make it responsive */
    width: 80%;
    margin: auto;
}

.block {
    float: left;
    width: 50%;
    box-sizing: border-box;
}


/* To target ids we use #id */


/* We can have multiple classes by adding a space between them */

.fix {
    position: fixed;
    top: 200px;
}